#Container{
   height: 600px;
   width: 1150px;
   padding: 10px;
   margin: 20px;
   border: 3px solid black; 
   border-radius: 2em;
   background-color: bisque;
   /* this is the property of flex which is imp  */
   display: flex;
   /* properties of flex!! */
   /* flex-direction: row-reverse; */
   /* flex-direction: column-reverse; */
   /* justify-content: center; */
   justify-content: center;
   /*  align items goes to center wrt cross axis */
   align-items: center;
}
h1{
 text-align: center;
}
.box{
    height: 100px;
    width: 100px;
    border: 3px solid black;
    border-radius: 2em;
    margin: 5px;
    text-align: center;
}
#box1{background-color: aqua;}
#box2{background-color: blueviolet;}
#box3{background-color:yellow;}
#box4{background-color: tomato;}

