#Container{
    height: 600px;
    width: 1150px;
    padding: 10px;
    margin: 20px;
    border: 3px solid black; 
    border-radius: 2em;
    background-color: bisque;
    /* this is the property of flex which is imp  */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
 }
 h1{
  text-align: center;
 }
 .box{
     height: 150px;
     width: 150px;
     border: 3px solid black;
     border-radius: 2em;
     margin: 5px;
     text-align: center;
     font-weight: bold;
     font-family:serif;
 }
 #box1{background-color: aqua;}
 #box2{background-color: blueviolet;}
 #box3{background-color:yellow;}
 #box4{background-color: tomato;}
 #box5{background-color: rgb(16, 41, 138);}
 #box6{background-color: deeppink;}
 #box7{background-color: gold;}
 #box8{background-color: lime;}

 
 